<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <caching enabled="true" enableKernelCache="true">
         <profiles>
            <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".txt" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
         </profiles>
      </caching>
      <staticContent>
         <remove fileExtension=".manifest" />
         <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
         <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      </staticContent>
   </system.webServer>
</configuration>